[Desktop Entry]
Type=Application
Version=1.1
Name=Cmst
GenericName=Network Configuration
Comment=QT GUI frontend for connman
Comment[fr]=Interface graphique pour connman
Categories=Network
Icon=cmst
Terminal=false
Exec=/usr/bin/cmst
